@import "scss/variables";

:host {
  font-family: "Arial Black";
  color: #3a3a3e;
  display: block;
  position: relative;
  font-size: 1em;
  width: 20em;
  height: 28em;
  max-width: 320px;
  max-height: 480px;
  cursor: pointer;
  margin-bottom: 1.5em;
  text-shadow: 1px 1px 1px #fff;

  .pokemon-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 1s;
    transform-style: preserve-3d;
    transform: perspective(500px);

    &--rotate,
    &--loading {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: progress;
        z-index: 2;
        background: linear-gradient(0.25turn, transparent, #fff, transparent);
        background-repeat: no-repeat;
        background-size: 100% 100%, 100% 180px, 100px 100px, 225px 30px;
        background-position: -320px 0;
        animation: loading 0.8s infinite;
      }
    }
    &--loading {
      .pokemon-card {
        &__front, &__back {
          &:before {
            background: map-get($card-textures, "gold") !important;
          }
        }
        &__sprite {
          visibility: hidden;
        }
        &__description {
          span {
            visibility: hidden;
          }
        }
        &__egg-groups {
          visibility: hidden;
        }
      }

    }

    &--rotate {
      background: linear-gradient(0.25turn, transparent, #fff, transparent);
      animation: loading 0.5s alternate-reverse;
    }


    @each $name, $texture in $card-textures {
      &--#{$name} {
        .pokemon-card {
          &__front, &__back {
            &:before {
              background: $texture;
            }
          }
        }
      }

    }
    &--backface {
      transform: rotateY(180deg);

      .pokemon-card__front {
        pointer-events: none;
      }
    }

    &__front, &__back {
      &:before {
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        filter: contrast(120%) brightness(100%);
      }

      border-radius: 10px;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border: 1em solid #ffe173;
      padding: 0.5em 1em;
    }

    &__front {
      &__hp {
        color: #a66537;
      }
    }

    &__description {
      position: relative;
      width: 100%;
      height: 125px;
      margin-top: 20px;
      font-size: 12px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        filter: blur(5px);
      }

      span {
        position: absolute;
        padding: 10px;
      }
    }

    &__stats {
      position: relative;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
    }

    &__back {
      transform: rotateY(180deg);

      section {
        position: relative;
        z-index: 1;
      }

      .pokemon-card__sprite {
        position: absolute;
        z-index: -1;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
      }
    }

    header {
      position: relative;
      display: flex;

      justify-content: space-between;
    }

    &__sprite-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 11.5em;
      position: relative;
      border: 6px solid #ffe173;
      box-shadow: 0 0 1em #333;

      &:before {
        filter: contrast(190%) brightness(100%);
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: map-get($card-textures, "blue");
      }
    }

    &__egg-groups {
      position: relative;
      margin-top: 0.5em;
      height: 1.5em;
    }

    &__sprite {
      z-index: 1;
      width: 80%;
      height: 80%;
    }

    &__poke-ball {
      display: flex;
      font-size: 2em;
      margin: 1em auto;
      justify-content: center;
    }
  }
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

