:host {
  font-family: "Arial Black";
  color: #3a3a3e;
  display: block;
  position: relative;
  font-size: 1em;
  width: 20em;
  height: 28em;
  max-width: 320px;
  max-height: 480px;
  cursor: pointer;

  .pokemon-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 1s;
    transform-style: preserve-3d;
    transform: perspective(500px);

    &--backface {
      transform: rotateY(180deg);

      .pokemon-card__front {
        pointer-events: none;
      }
    }

    &__front, &__back {
      &:before {
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        filter: contrast(120%) brightness(100%) invert(100%);
        background: linear-gradient(29deg, rgba(20, 187, 241, 0.63), rgba(0, 0, 255, 0.71)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.59' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
      }

      border-radius: 10px;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border: 1em solid #ffe173;
      padding: 0.5em 1em;
    }

    &__front {
      &__hp {
        color: #a66537;
      }
    }

    &__description {
      position: relative;
      width: 100%;
      height: 125px;
      margin-top: 20px;
      font-size: 12px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        filter: blur(5px);
      }
      span {
        position: absolute;
        padding: 10px;
      }
    }

    &__stats {
      position: relative;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
    }

    &__back {
      transform: rotateY(180deg);
      background-color: blue;

      section {
        position: relative;
        z-index: 1;
      }

      .pokemon-card__sprite {
        position: absolute;
        z-index: -1;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
      }
    }

    header {
      position: relative;
      display: flex;

      justify-content: space-between;
    }

    &__sprite-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 11.5em;
      position: relative;
      border: 6px solid #ffe173;
      box-shadow: 0 0 1em #333;

      &:before {
        filter: contrast(190%) brightness(100%);
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(29deg, rgba(0, 0, 255, 0.71), rgba(20, 187, 241, 0.63)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.59' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
      }
    }

    &__egg-groups {
      position: relative;
      margin-top: 0.5em;
    }

    &__sprite {
      z-index: 1;
      width: 80%;
      height: 80%;
    }
  }
}
