<div class="pokemon-card" [ngClass]="{'pokemon-card--backface': isRotated}">

  <div class="pokemon-card__front" >
    <header>
      <div>{{ pokemon.name | titlecase }} </div>
      <div class="pokemon-card__front__hp">HP {{ pokemon.stats[0].base_stat }}</div>
    </header>
    <div class="pokemon-card__sprite-container">
      <img class="pokemon-card__sprite" [src]="pokemon.sprite" [attr.alt]="pokemon.sprite"/>
    </div>
    <ul class="pokemon-card__front__stats">
      <li *ngFor="let stat of pokemon.stats">
        <app-stat-bar [value]="stat.base_stat" [name]="stat.stat.name"></app-stat-bar>
      <div class="pokemon-card__front__stats__bar"></div>
    </li>

    </ul>

  </div>

  <div class="pokemon-card__back">
    <header> {{ pokemon.name | titlecase }} </header>
    <div class="pokemon-card__sprite-container">
      <img class="pokemon-card__sprite" [src]="pokemon.sprite" [attr.alt]="pokemon.sprite"/>
    </div>
  </div>
</div>
