<div class="pokemon-card" [ngClass]="className" (click)="rotate()">

  <div class="pokemon-card__front">
    <header>
      <div>{{ pokemon.name | titlecase }} </div>
      <div class="pokemon-card__front__hp">HP {{ pokemon.stats[0]?.base_stat || 0}}</div>
    </header>
    <div class="pokemon-card__sprite-container">
      <img *ngIf="pokemon.sprite" class="pokemon-card__sprite" [src]="pokemon.sprite" [attr.alt]="pokemon.sprite"/>
    </div>
    <div class="pokemon-card__egg-groups">
      <app-badge *ngFor="let eggGroup of pokemon.species.eggGroups" [value]="eggGroup | titlecase"
                 [color]="'red'"></app-badge>
    </div>
    <div class="pokemon-card__description">
      <span>{{pokemon.species.flavorText}}</span>
    </div>

  </div>

  <div class="pokemon-card__back">
    <img class="pokemon-card__sprite" [src]="pokemon.sprite" [attr.alt]="pokemon.sprite"/>
    <section>
      <ul class="pokemon-card__stats">
        <li *ngFor="let stat of pokemon.stats">
          <app-stat-bar [value]="stat.base_stat" [name]="stat.stat.name"></app-stat-bar>
          <div class="pokemon-card__front__stats__bar"></div>
        </li>
      </ul>
      <app-poke-ball class="pokemon-card__poke-ball" [caught]="isCaught()" (onCaught)="catch()"></app-poke-ball>
    </section>
  </div>
</div>
