:host {
  display: flex;

  .pagination {

    &__button, &__page {
      width: 32px;
      height: 32px;
      cursor: pointer;
      border: 1px solid #a66537;
      background: white;
      font-weight: bold;

      &:not(:nth-last-child(1)) {
        border-right-width: 0;
      }
    }

    &__page {
      padding: 2px 10px;
      width: auto;
    }

    &__button {
      &:hover {
        background: rgba(166, 101, 55, 0.27);
      }

      &:active {
        background: rgba(166, 101, 55, 0.58);
      }
    }
  }
}
